<!-- Sample contact form using Netlify automatic form detection -->
<!-- https://docs.netlify.com/forms/setup/#automatic-form-detection -->
<div class="contact">
    <h1>Contact</h1>
    <p>This is an example contact form that doesn't do anything. It's very good at what it does.</p>
    <p>You can edit this section in <code>layouts/partials/contact.html</code>.</p>
    <div class="form-container">
        <form name="contact" method="POST" data-netlify="true">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Enter your name">

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter your email">

        <label for="message">Message</label>
        <textarea id="message" name="message" placeholder="Your message"></textarea>

        <button type="submit">Send</button>
        </form>

    </div>
</div>